/* This is my formatting for the image at the top of my webpage */
#banner
{
  height: 75%;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

/* I used an element selector to change the background color of my webpage and minimize the margins */
body
{
	background-color: rgb(235,218,220);
	margin-left: 0px;
	margin-right: 0px;
	margin: 0px;
}
/* This rule applies the biggest heading at the very top of my webpage */
#introHeading
{
	color: maroon;
	font-size: 60px;
	font-family: Georgia, "Arial Narrow", monospace;
	text-align: center;
	margin-top: 55px;
}

/* This rule applies to the paragraph beneath the introduction heading */
#introParagraph
{
	color: maroon;
	font-size: 25px;
	font-family: Georgia, "Arial Narrow", monospace;
	font-style: Italic;
	text-align: center;
	margin-bottom: 55px;
}

/*This class applioes to all of my horizontal lines */
.lineSeperator
{
	border-top: 3px solid maroon;
	border-width: medium;
}

/* The section below applies to my navigation bar */
#navigation {
  text-align: center;
  border-bottom-color: #d3d3d3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin-bottom: 40px;
  background-color: #f3f3f3;
}

.navbar 
{
  background-color: maroon;
  overflow: hidden
}


.navbar a 
{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.navbar a:hover 
{
  background-color: #252083;
  color: white;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
} 

/* This rule below applies to all the elements that contain information/content */
.infoportion
{
	text-align: justify;
	font-family: Georgia, "Arial Narrow", monospace;
	font-size: 25px;
	color: black;
	line-height: 30pt;
	margin-left: 10%;
	margin-right: 10%;
}

/* This rule below applies to headings that are sub-headings to main headings (main headings being headings that are shown in the navigation bar */
.infoheading
{
	font-size: 35px;
	color: maroon;
	background-color: white;
	border-style: dotted;
	border-color: maroon;
	text-align: center;
}

/*This rule applies to main headings (headings linked to in the navigation bar */
.headHeading
{
	font-size:40px;
	background-color: rgb(235,218,220);
	color:maroon;
	border-style: none;
	text-align: center;
	
}

#StatueofWoman
{
  border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 20px;
  height: 150px;
  float: right; 
}

/*I created this class since the images in the Humanism and Medici Family section follow the exact same declarations*/
.HumanismMedici
{
  border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 20px;
  height: 250px;
  float: right;
}

/* This rule applies to all my list items*/
.listitems
{
	font-style: italic;
	font-size: 30px;
	color: maroon;
}

/* The following rules apply to individual images which had specific declarations applied to them */
#bramanteArchitecture
{
	border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 20px;
  height: 225px;
  float: right;
}

#catholicChurch
{
  border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 20px;
  height: 250px;
  width: 350px;
  float: right;
}

#RenaissanceGeniuses
{ 
  font-size:40px;
	background-color: rgb(235,218,220);
	border-style: none;
}

#VitMan
{
	border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10px;
  height: 250px;
  width: 350px;
  float: right;
}

#FilBru
{
	border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  height: 225px;
  width: 300px;
  float: right;
}

#NiCo
{
	border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 10px;
  height: 225px;
  width: 300px;
  float: right;
}

#dante
{
	  border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 10px;
  height: 100px;
  float: right;
}

#donatello
{
  border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 10px;
  height: 125px;
  float: right;
}

/* The following rule applies to images placed next to list items*/
.listimg
{
  border-color: black;
  border-width: medium;
  border-style: solid;
  margin-left: 32px;
  margin-right: 10%;
  margin-bottom: 10px;
  height: 150px;
  float: right;
}

/*This rule applies to the headings in my citations page*/
.citeheading
{
	color: maroon;
	font-size: 30px;
	font-family: Georgia, "Arial Narrow", monospace;
	margin-top: 55px;
	margin-left: 100px;
}

/*This rule applies to the lists in my citations page*/
.citelist
{
	font-family: Georgia, "Arial Narrow", monospace;
	font-size: 20px;
	color: black;
	line-height: 30pt;
	margin-left: 10%;
	margin-right: 10%;
}

/*This rule was created so that I could wrap every image and paragraph within a list inside a list element to avoid issues with the HTML validator*/
.specialli
{
	list-style: none;
}

/*This rule applies to the CSS and HTML validator images*/
.validator
{
	height:100px;
}
	
	
	